.body{
    font-size: "Poppins",Helvetica;
}
.navbar-brand{
    font-weight: 700;
}
.intro{
    background-color: #f7f5fd;
}
.about{
    padding: 7%;
    justify-content: center;
    align-items: center;
}
.home-img{
    width: 100%;
    border-radius: 20px;
}
.intro-title{
    font-weight: 600;
    font-size: 5em;
}
.intro-moto{
    font-weight: 400;
    opacity: 0.5;
    font-size: 2em;
}
.contact-us{
    background-color: #fcfaff;
}
.contact{
    padding: 7%;
    justify-content: center;
    align-items: center;
}
.contact-title{
    font-weight: 600;
    font-size: 5em;
}
.contact-subtitle{
    font-weight: 400;
    opacity: 0.5;
    font-size: 2em;
}
.cat-img{
    width: 100%;
    border-radius: 20px ;
}
svg{
    width: 30px;
    height: 30px;
}
footer{
    padding: 7%;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-bottom: 3%;
}
.footer-brand{
    font-size: 2em;
    font-weight: 700;
}
a{
    display: block;
    text-decoration: none;
    color: #000;
}
.footer-topics{
    font-weight: 600;
}
.linkarea{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.form-area{
    display: flex;
}
.emailbox{
    margin-right: 10px;
}

.footer-description{
    width: 100%;
}
.attributions-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.attributions-icon{
    width: 100%;
    display: flex;
    justify-content: space-evenly;    
}
.testimonial{
    padding: 7%;
    background-color: #ece7fb;
}
.feedback{
    justify-content: center;
    align-items: center;
}
.feedimg{
    width: 300px;
    height: 356px;
    border-radius: 50%;
}
.feedbackmsg{
    font-size: 2em;
    font-weight: 600;
}
#features{
    padding: 7%;
    text-align: center;
    background-color: #f2faf8;
}
#features h2{
    font-size: 18px;
}
#features p{
    font-size: 18px;
    opacity: 0.75;
}
#features svg{
    width: 30%;
    margin: 10% 0 ;
}
.feature{
    width: 100%;
    align-items: baseline;
    justify-content: center;
}
@media (max-width:1024px){
    .userbtn{
        display: none;
    }
    .navbar-brand{
        display: block;
    }
    .about{
        flex-direction: column;
        padding: 7%;
    }
    .intro-description{
        margin: 11% 0 11% 0;
        text-align: center;
    }
    .contact{
        flex-direction: column;
        padding: 7%;
    }
    .contact-description{
        margin: 11% 0 11% 0;
        text-align: center;
    }
    .footer{
        flex-direction: column;
    }
    a{
        display: none;
    }
    .linkarea{
        flex-direction: column;
        
    }
    .attributions{
        flex-direction: column;
    }
    .attributions-main{
    flex-direction: column;
    }  
    .form-area{
        flex-direction: column;
    }
    .emailbox{
        width: 100%;
    }
    .sendbtn{
        width: 100%;
        margin: 2% 0 2% 0;
    }
    .feedback{
        flex-direction: column;
        text-align: center;
    }
    .feedimg{
        margin-bottom: 25px;
    }
    .feedbackmsg{
        font-size: 1.5em;
    }
    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
