@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}
body{
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    line-height: 38px;
    color: #212931;

    background-color: #1e252d;
    opacity: 0.8;
}


h1{
    font-family: "Source Sans Pro";
    font-size: 80px;
    line-height: 80px;
    font-style: normal;
    font-weight: 900;
}

header{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: #fff;
    padding: 20rem 20rem 0;
}
header a{
    color: #fff;
    text-decoration:none;
    border-bottom: 1px dotted #909498;
}

header p{
    text-align: center;
}

.header-arrow {
    margin-top: 2%;
}

.header-arrow a{
    border-bottom: 0;
}

.info-section{
    background-color: #EEEEEE;
    display: flex;
    width: 100%;
}

.info-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3% 8%;
}

input{
    background: transparent;
    border: 1px solid grey;
    height: 30px;
}

textarea{
    background: transparent;
    margin-bottom: 20px;
}

.info-location{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.info-loc-sections{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5% 15%;
}

.info-headings{
    color: #212931;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.vl {
    border-left: 1px solid gray;
}

.btn{
    padding: 5px 10px;
    color: #212931;
    border: 1px solid #212931;
    font-size: 12px;
}

.blog-area{
    z-index: 1;
}

.article{
    background: white;
    text-align: center;
}

.date-first{
    display: flex;
    color: #212931;
    align-items: center;
    justify-content: space-evenly;
}

.date-first hr{
    border-top: 0;
    border-left: 0;
    border-right:0 ;
    border-bottom: 1px solid gray;
    width: 35%;
}

.article-img-first{
    width: 400px;
    height: 300px;
    display: block;
}