@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: Merriweather, Georgia, self;
}

.blog-area{
    width: 100%;
}

.blog-area-header{
    background-color: #212931;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #fff;
    font-size: 12.8px;
    line-height: 19.2px;
    font-style: normal;
}

.blog-area-nav{
    display: flex;
    width: 80%;
    justify-content:flex-start;
}

.nav-options{
    padding: 20px 10px;
    font-weight: bold;
}

.selected{
    background-color: white;
    color: #212931;
    padding: 20px 10px;
}

.blog-area .icon-container{
    display: flex;
    justify-content: space-between;
    width: 20%;
    background-color: #212931;
    padding-right: 5px;
}

.blog-area .icon-container i{
    width: 16px;
    height: 16px;
}

.first-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-date{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.first-date hr{
    border-color:  grey;
    width: 25%;
    border: 0 0 1px 0;
}

.first-heading{
    margin: 15px 0;
    font-size: 2em;
    font-family: Roboto;
    font-weight: bolder;
}

.first-description{
    font-size: 1em;
    opacity: 0.7;
    font-style: italic;
}

.first-img{
    width: 500px;
    height: 300px;
    margin: 25px 0;
}

.btn{
    background: transparent;
    border: 1px solid black;
    padding: 8px 15px;
    font-weight: 600;
}



@media (max-width:658px){
    .blog-area-header{
        display: none;
    }
    .first-blog{
        width: 100%;
    }
    .first-heading{
        font-size: 20px;
    }
    .first-description{
        font-size: 16px;
    }
    .first-img{
        width: 300px;
        height: 200px;
    }
}