*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcd8ad;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-family: 'Helvetica';
}

#container{
    width: 100%;
    height: 100%;
    max-width: 70rem;
    border-radius: 1rem;
    padding: 3rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

#container::-webkit-scrollbar {
    width: 3px;
    border-radius: 70%;
    margin-left: 2px;
}
   
#container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #fcd8ad;
}
   
#container::-webkit-scrollbar-thumb {
    background-color: #575a69;
    padding: 5px;
}

#header{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-block: 0.5rem ;
    flex-flow: wrap;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.header-links{
    text-decoration: none;
    color: #575a69;
    font-size: 20px;
    padding: 5px;
}

.connect-button{
    padding: 0.75rem;
    border: 0;
    border-radius: 0.5rem;
    color: #000;
    margin: 1rem 0;
    width: fit-content;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}

#main-section{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
}

#ajay-img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
}

.maintext-heading{
    margin: 1.5rem 0;
    font-size: 2rem;
    text-align: left;
}

.name{
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.position{
    background-color: #0093E9;
    background-image: linear-gradient(#f3ec78, #af4261);
    background-image: conic-gradient(#f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align: center;
}

.maintext-subheading{
    font-size: 16px;
    color: #1b1516;
}

.contact-button{
    padding: 0.75rem;
    border: 0;
    border-radius: 0.5rem;
    color: #000;
    font-size: 1rem;
    margin: 1rem 0;
    width: fit-content;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}

#skills{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-heading h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.skills-logos{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 5rem;
}

.skill-name{
    font-weight: bold;
    margin-bottom: 1rem;
    color: #575a69; 
}

.s-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-logo{
    display: block;
    width: 50px;
    height: 50px;
}

#projects{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-heading{
    font-size: 2rem;
    color: #1b1516;

}

.projects-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 5rem;
}

@media only screen and (max-width:483px){
    .connect-button{
        margin: 0;
        padding: 5px;
    }

    #main-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #ajay-img{
        width: 240px;
        height: 240px;
    }

    .main-text{
        align-items: center;
    }

    .maintext-heading{
        text-align: center;
    }

    .skills-logos{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }
}

@media (min-width:484px) and (max-width: 569px){
    .connect-button{
        padding: 10px;
    }

    #main-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #ajay-img{
        width: 240px;
        height: 240px;
    }

    .main-text{
        align-items: center;   
    }

    .maintext-heading{
        text-align: center;
    }

    .skills-logos{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

}

@media (min-width: 570px) and (max-width:899px){
    #main-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-text{
        align-items: center;
    }

    .maintext-heading{
        text-align: center;
    }

    .maintext-subheading{
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 1em;
    }

    .contact-button{
        margin: 0;
    }

    .skills-logos{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }
}

