*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background: url(images/wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    width: 100%;
}

#dock{
    background: rgba(0,0,0,.5);
    display: flex;
    margin: 1%;
    width: 98%;
    border-radius: 15px 15px;
    padding: 10px 1%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.apps img{
    width: 50px;
    height: 50px;
    padding: 1% 0;
}

@media (max-length:374px){
    .app{
        padding: 50%;
    }
    .app img{
        width: 30px;
        height: 30px;
        padding: 1%;
    }
}