@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    font-size: 15px;
}
img{
    width: 210px;
    border-radius: 7%;
}
.container{
    background: hsl(0, 0%, 100%);
    text-align: center;
    padding: 10px;
    width: 220px;
    border-radius: 7%;
    margin: auto;
    margin-top: 10%;
}
h3{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
@media (max-width:456px){
    .container{
        margin-top: 35%;
    }
}